{% extends "base.html" %}
{% block content %}
<div class="container ">
  <div class="main-body">
    <br>
    <div class="container pt-3">
      <div class=" mb-3 mt-3">
        <br><br><br>
          <a class='btn btn-info 'href="{% url 'create' %}">create task</a> <br>
          {% comment %} <h3>Welcome to your profile {{ request.user.username }}</h3> {% endcomment %}
      </div>
  
        <div class="row gutters-sm pt-3">
          <div class="">
            <div class="card shadow rounded-6">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                  <div class="d-flex justify-content-around mt-3 ">
                    <a class="flex-item btn btn-success m-2 center" style="" href="{% url 'one'%}">change password</a>
                    <a class="flex-item btn btn-success m-2 center" style="" href="{% url 'one'%}">change password</a>
                  </div>
                  
                  <div class="mt-3">
                    <h4>{{request.user}}</h4>
                    <p class="text-muted font-size-sm">You have posted {{num_post}} article{{ num_post|pluralize:"s" }} </p>

                  </div>
                </div>
              </div>
            </div>
            <hr>
 

          <div class="container p-3 shadow rounded-6 ">
              <table id="myTable" class="display " style="width:100%">
                  <thead>
                      <tr>
                          <th>Title</th>
                          <th>Edit</th>
                          <th>Delete</th>
                          <th>Posted on</th>
                          <th>Posted by</th>
                      </tr>
                  </thead>
  
                  <tbody>
                      {% for blog in topics %}
                      {%if user.id == blog.user_id %}
                              <tr>
                                  <td class="id">{{ blog.blog_title}}</td>  
                                  <td><a class ="btn btn-info text-center" href="{% url 'update' id=blog.id  %}"><i class="fas fa-edit"></i></a></td>
                                  <td><a class="btn btn-info delete_btn" data-toggle="modal" data-target="#exampleModal{{blog.id}}"><i class="fas fa-trash" style="color:white"></i></a></td>
                                  <td>{{ blog.created_date }}</td>
                                  <td>{{ request.user.username }}</td>
                              </tr>
                          {% else %}
                          {% endif %} 
                          <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{blog.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" >
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLabel">DELETE CONFIRMATION DIALOG</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                           <b>Are you sure you want to delete the following topic?</b>  <br>
                            <span>{{blog.blog_title}}</span>
                          </div>
                    
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a class=" btn btn-danger"href="{% url 'delete' blog.id%}">DELETE</a>
                          </div>
                        </div>
                      </div>
                    </div>
                      {% endfor %}
                  </tbody>
              </table>
          </div>

      </div>

      {% comment %} <script type="text/javascript">
        $document.ready(function(){
          $('.delete_btn').onClick(function(e){
            e.preventDefault()
            var id = $(this).closest('td').find('.id').text();
          })
        }
        
        );
      </script> {% endcomment %}
      <!-- Button trigger modal -->


<!-- Modal -->


            {% endblock content %}