{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    </style>

</head>
<body>
    <br><br><br>

    <div class="container-fluid w-50 p-3 mt-3 shadow rounded-7">
        <div class="card text-center">
            <div class="card-header">
             <h3>REGISTER HERE</h3> 
            </div>
            <div class="card-body">

              <form class="mt-3 text-left" method="post" >
                {% csrf_token %}
                {{form|crispy}}

    
            </div>
            <div class="card-footer text-muted">
                <div class="login  text-center mt-3 mb-3">
                    <button class="btn btn-info"type="submit" >REGISTER NOW</button>
                </div>
            </div>
        </form>
        <div class="card-body shadow mt-3">
            <h5 class="card-title">Have an account already ?</h5>
            <p class="card-text">Just click login to go to the Login page</p>
            <a href="{%url 'login-user'%}" class="btn btn-info">GO BACK TO LOGIN</a>
          </div>
          </div>
    </div>
</body>
{% endblock content %}