{% extends "base.html" %}
{% block content%}
{% load humanize %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    .container{
        margin: 0 auto;
        padding: 10px;
        width: 75%;
    }
    #blog_summary{
        color:grey;
        font-size:1.2em;
        font-style: italic;
    }
    #blog_content{
        text-align: justify;
        text-justify: inter-word;
    }
    .footer{
        margin-bottom:30px;
        padding-top:10px;
    }
    <style>
        img{
            object-fit:contain;
        }
    </style>

</style>


<div class="container">
    <br><br><br>
    <div class="content-title">
        <h1 class="mt-"id="blog_title">{{blog.blog_title}}</h1>
        <hr>
        <div class="box-detail box1">
            <img src="../media/images/{{blog.blog_header_image}}" class=".img-fluid.max-width: 100%; height:auto;">
        </div>
        
        <br>
        <hr>
        <h3 id="blog_summary">{{blog.blog_summary}}</h2>
        <hr>
        <p] id="blog_content">{{blog.blog_content|safe}}</p>
<hr>    
{% if request.user.is_authenticated  %}
    {%if blog.user.id == user.id %}
    <div class="admin_tasks">
        <button class="btn btn-danger" ><a href="{% url 'update' blog.id %}">Edit</a></button>
    </div>
    {% endif %}
{% endif %}

        <div class="footer">
            <sub><i>{{blog.created_date|naturaltime}}</i>
                <i> By {{blog.user}}</i>
                </sub>
        </div>
    </div>
</div>


{% endblock content %}