
{% block content%}
{% load humanize %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    .company_logo{
        text-align: center ;  
        background-color: aliceblue;
        padding: 10px;
    }

    .container{
        margin: 0 auto;
        padding: 10px;
        width: 75%;
    }
    hr.top{
        border-top: 1px dashed red;
    }
    #blog_summary{
        color:grey;
        font-size:1.2em;
        font-style: italic;
    }
    #blog_content{
        text-align: justify;
        text-justify: inter-word;
        font-size:1em;
    }
    .footer{
        margin-bottom:30px;
        padding-top:10px;
    }

</style>

<div class="company_logo">
    <h1 class="">
       <a href="{% url 'tasks' %}">New IT Ventures POST</a> 
    </h1>
   
</div>
<hr class="top">
<div class="container">
    <div class="content-title">
        {% for blog in topics %}
        <h1 id="blog_title">{{blog.blog_title}}</h1>
        <hr>
        <h3 id="blog_summary">{{blog.blog_summary}}</h2>
        <hr>
        <h3 id="blog_content">{{blog.blog_content}}</h3>
<hr>    
        <div class="footer">
            <sub><i>{{blog.created_date|naturaltime}}</i>
                <i> by {{blog.user}}</i>
                </sub>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}